{% extends "layout.html.twig" %}

{% set active = "new-article" %}

{% block page_title %}
    Rédiger un article
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h3>Rédiger un article</h3>
            {{ form(form) }}
        </div>
    </div>

{% endblock %}
